body {
    margin: 0px;
}
#navbar {
    overflow: hidden;
    background-color: #1f2937;
    padding-right: 10%;
  }
  /* Splits the logo text from other a tags in nav bar*/
  #navbar a.split {
    float: left;
    font-size: 24px;
    color: #f9faf8;
    display: block;
    text-align: center;
    padding: 18px;
    padding-left: 10%;
  }
  /* Navbar links */
  #navbar a {
    float: right;
    display: block;
    color: #e5e7eb;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 18px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .row {
    display: flex;
    background-color: #1f2937;
  }
  
  .column {
    flex: 50%;
  }

  h1 {
    font-size: 42px;
    font-weight: bolder;
    color: #F9FAF8;
  }

  h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
  }

  h3 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
  }

  h4 {
    font-size: 18px;
    color: #e5e7eb;
  }

  .hero-right {
    padding-right: 10%;
  }

  #hero-left {
    padding-left: 10%;
    padding-right: 5%;
  }

  .hero-btn {

  }