body {
    margin: 0px;
}
#navbar {
    overflow: hidden;
    background-color: #1f2937;
  }
  /* Splits the logo text from other a tags in nav bar*/
  #navbar a.split {
    float: left;
    font-size: 24px;
    color: #f9faf8;
    display: block;
    text-align: center;
    padding: 18px;
  }
  /* Navbar links */
  #navbar a {
    float: right;
    display: block;
    color: #e5e7eb;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    font-size: 18px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }

